/* CORPO DO SITE */
body {
	background-image: url('../imagens/fundo.png');
	font-family: Gill Sans MT, sans-serif;
	background-color: rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

/* CLASSE DAS BORDAS DA PÁGINA */
.borda{
	width: 80%
	height: 100%;
	border: 2px solid #696969;
	margin: 0 5%;
	background-color: rgba(255, 255, 255, 0.8);
}

/* IMAGEM DO CABEÇALHO */
header img{
	width: 90%;
	height: 40%;
	margin: 3% 5%;
}

/* LISTA DO MENU DE NAVEGAÇÃO */
ul{
	list-style-type: none;
}

/* INICIO DO MENU NAV */
.menu{
	display: inline-block;
	width: 100%;
	background-color:#00BFFF;
	font-size: 1.3em;
	height: 10%;
	text-align: center;
}

.menu ul {
	margin-top: 1.5%;
}
.menu ul li{
	padding: 0 5%;
  	display: inline;
  	height: 20px;
 }

 .menu ul li a{
 	text-decoration: none;
 	color: #fff;
 }

 .menu a:hover{
 	cursor: pointer;
  	border-bottom: 2px solid #D3D3D3;
 }
 /* FIM DO MENU NAV */


/* TITULOS DAS SECTIONS */
 #Home h2, #Fatec h2, #Contato h2, #Hobbies h2{
 	font-family: 'Arial', sans-serif;
 	font-size: 2em;
 	text-align: center;
 	margin: 3%;
 }

/* IMAGEM DA SECTION HOME */
 #Home img{
 	width: 20%;
 	padding:0 3%;
 	float: left;
 }

/* PARAGRAFOS DAS SECTIONS */
 #Home p, #Fatec p, #Hobbies p{
 	font-family: 'Verdana';
 	font-size: 1.5em;	
 	text-align: justify;
 	margin: 2% 3%;
 }

/* SECTION DA GALERIA DE IMAGENS DA FATEC */
 #Galeria{
 	display: flex;
 	flex-wrap:wrap;
 	flex-direction: row;
 	flex-flow: row wrap;
 }

/* GALERIA DE IMAGENS DA FATEC */
 #Galeria img{
 	width:30%;
 	height:40vh;
 	padding:0 1%;
 	margin:5% auto;
 	flex: auto;
 }

/* SECTION DA FATEC */
 #Fatec {
 	padding-top: 4%;
 	padding-bottom: 4%;
 }

 /* SECTION DOS JOGOS */
 #Jogos{
 	display: flex;
 	flex-direction: row wrap;
 	flex: 1;
 }

 /* IMAGENS DA SECTION JOGOS */
 #Jogos img{
 	width:30%;
 	height:40vh;
 	padding:0 1%;
 	margin:3% auto;
 }

/* CLASSE PARA O LINK DE ACESSO AO SITE FATEC */
 .linkfatec{
 	color: #000000;
	font-size: 1em;
	padding: 1%;
	text-decoration: none;
	box-sizing: border-box;
	border: 1px solid red;
	width: 13%;
	text-align: center;
	text-transform: uppercase;
	border-radius: 20px;
	margin-left: 45%;
 }

 .linkfatec:hover{
 	color: #0000FF;
 	border: 1px solid #0000FF;
 	transition: 500ms linear;
 }

/* TITULO DO CONTATO */
#Contato h3{
	text-align: center;
}

/* ESPAÇAMENTO DA SECTION CONTATO */
#Contato {
	padding-bottom: 4%;
	padding-top: 4%;
}

/* FOOTER */ 
footer{
  clear: both;
  border-top: solid 2px #696969;
  background-color: #f1f1f1;
  color:#000000;
  height: 60px;
  padding: 0;
  margin: 0;
}

/* PARAGRAFO DO RODAPÉ */
footer p{
  text-align: center;
  margin: 2% auto;
  padding: 0;
}

/* BREAKPOINT PARA 768px */
@media (max-width: 768px) {

	.menu {
		height: auto;

	}
	.menu ul li {
		display: block;
		width: 100%;
		padding: 0;
		padding-top: 10px;
	}
	#Home img {
		display: block;
		margin: auto;
		width: 80%;
		float: none;
		flex: auto;
	}
	#Galeria {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
	#Galeria img{
		width:96%;
		padding:1%;
		margin:5;
	}
	#Jogos {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
	#Jogos img {
		width:96%;
	}
	#Contato{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
/* FIM DO BREAKPOINT */